* {
    /* outline: 0.5px solid lightskyblue; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 325px;
    border: 4px solid black;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
}

.display {
    margin: 10px;
    padding: 5px 10px;
    border: solid;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.temp-display {
    height: 25px;
    font-size: 20px;
}

.main-display {
    height: 45px;
    font-size: 40px;
    font-weight: bold;
}

.temp-display,
.main-display {
    text-align: right;
}

button {
    width: 60px;
    height: 60px;
    margin: 8px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.clear {
    background-color: rgba(255, 0, 0, 0.327);
}

.clear:active {
    border: white solid;
}

.digit {
    background-color: rgba(0, 255, 255, 0.31);
}

.digit:active {
    border: white solid;
}

.back {
    background-color: rgba(38, 0, 255, 0.13);
}

.back:active {
    border: white solid;
}

.equal {
    background-color: rgba(0, 128, 0, 0.394);
}

.equal:active {
    border: white solid;
}

.operator {
    background-color: rgba(255, 166, 0, 0.419);
}

.operator:active {
    border: white solid;
}